.mobile-nav {
  background: darkslategray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .mobile-nav {
  display: none;
  }
} 
.desktop-nav {
  background: darkslategray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}
body {
  background-color: rgb(54, 54, 54);
  margin: 0px
}
.navicon {
  height: 45px;
}