.navbar {
	background: var(--background-2);
	opacity: .25;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: fixed;
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#mobile-nav {
	bottom: 0;
}

.bloc-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 769px) {
	#mobile-nav {
		display: none;
	}
}

#desktop-nav {
	top: 0;
	position: relative;
}

@media screen and (max-width: 768px) {
	#desktop-nav {
		display: none;
	}
}

.navicon {
	height: 45px;
}

.navbar a:hover {
	background-color: var(--background-3);
	transition: .6s;
}

.navbar:not(:hover) {
	opacity: .25;
	transition: .6s;
}