@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    font-family: "Roboto", sans-serif;
}

:root {
    --background-1: #222222;
    --background-2: #474747;
    --background-3: #7e7e7e;
    --interface: #fff;
}

body {
	background-color: var(--background-1);
	margin: 0px;
    color: var(--interface);
}

#root {
    position: relative;
    margin: 100px 0px 32px 0px;
    max-width: 1140px;
    left: 50%;
    transform: translateX(-50%);
}

object {
    pointer-events: none;
}

@media screen and (max-width: 768px) {
	#root {
        margin-top: 32px;
        max-width: calc(100% - 64px);
	}

    h2 {
        font-size: 32px;
    }
}
