@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    font-family: "Roboto", sans-serif;
}

:root {
    --background-1: #222222;
    --background-2: #474747;
    --background-3: #7e7e7e;
    --interface: #fff;
}

body {
	background-color: var(--background-1);
	margin: 0px;
    color: var(--interface);
}

#root {
    margin: 32px;
}

object {
    pointer-events: none;
}